*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: gray;  
}

.box{
  position: relative;
  width: 30rem;
  height: 550px;
  background: #1c1c1c;
  border-radius: 8px;
  color: #fff;
  margin-left: 300px;
  margin-top: 50px;
  overflow: hidden;
}
.box::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 30rem;
  height: 550px;
  background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff,#45f3ff,#45f3ff);
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
}
.box::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 30rem;
  height: 550px;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent,#f945ff,#f945ff,#ff45c1,#f045ff);
  z-index: 1;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate
{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.card-body{
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.home{
  background:black;
  height: 20vh;
}
.home h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}





